.grid{
    display: grid;
}

.grid-flow-col{
    grid-auto-flow: column;

}

.grid-rows-2{
    grid-template-rows: repeat(2, 1fr);
}

.grid-rows-3{
    grid-template-rows: repeat(3, 1fr);
}

.justify-content-center{
    justify-content: center;
}

.justify-self-center{
    justify-self: center;
}

.align-itens-center{
    align-items: center;
}

.align-self-baseline{
    align-items: baseline;
}

.align-self-end{
    align-self: end;

}

.align-self-center{
    align-self: center;

}

.title-lg{
    font: var(--title-lg);
    color:var(--gray-600)
}

.title-md{
    font: var(--title-md);
    color: var(--gray-600);
}

.title-sm{
    font: var(--title-sm);
    color: var(--gray-600);
}

.subtitle{
    font:var(--subtitle);
    color: var(--gray-500);
}



.text-md{
    font: var(--text-md);
}

.text-sm{
    font:var(--text-sm);
    color:var(--gray-400);
}